.grid-stack-item .ui-resizable-se {
  @apply bottom-4 right-4 rotate-0 border-2 border-[#f00];
}

.ui-draggable-dragging > .grid-stack-item-content {
  @apply !bg-transparent !shadow-none transition-all duration-200;
}

.ui-draggable-dragging > .grid-stack-item-content > * {
  @apply cursor-grabbing border-f1-border-hover shadow-[0_6px_12px_0_hsl(var(--shadow)/0.06),0_16px_24px_-12px_hsl(var(--shadow)/0.05)];
}

.grid-stack-placeholder > .placeholder-content {
  @apply rounded-md border-[1px] border-solid border-f1-border-hover bg-transparent;
}
