@import "./reset.css";
@import "../assets/fonts/style.css";
@import "@factorialco/f0-core/base.css";

:root {
  --ds-sidebar-width: 240px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

div[role="dialog"] {
  overflow-wrap: anywhere;
}

.scrollbar-macos {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-macos::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.scrollbar-macos::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollbar-macos::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.shine-text {
  background: linear-gradient(
    110deg,
    currentColor 30%,
    rgba(255, 255, 255, 0.8) 50%,
    currentColor 70%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}
