.F0PdfViewer__surface {
  background-color: hsl(var(--neutral-0));
  background-image: linear-gradient(
    hsl(var(--neutral-5)),
    hsl(var(--neutral-5))
  );
}

.F0PdfViewer__page .react-pdf__Page__canvas {
  display: block;
  position: relative;
  z-index: 0;
}

.F0PdfViewer__page .react-pdf__Page__textContent {
  z-index: 1;
  pointer-events: auto;
  user-select: text;
}

.F0PdfViewer__page .textLayer ::selection {
  background-color: hsl(var(--selected-50));
  color: hsl(var(--white-100));
}
