@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.shine-text {
  background: linear-gradient(
    110deg,
    currentColor 30%,
    rgba(255, 255, 255, 0.8) 50%,
    currentColor 70%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

.gradient-text {
  background: linear-gradient(
    270deg,
    #e55619 80.28%,
    #e51943 90.14%,
    #a1ade5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
